/*
Flaticon icon font: Flaticon
*/
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-search:before {
    content: "\f100";
}

.flaticon-cancel:before {
    content: "\f101";
}

.flaticon-shopping-cart:before {
    content: "\f102";
}

.flaticon-heart:before {
    content: "\f103";
}

.flaticon-leaf:before {
    content: "\f104";
}

.flaticon-apple:before {
    content: "\f105";
}

.flaticon-organic:before {
    content: "\f106";
}

.flaticon-forest:before {
    content: "\f107";
}

.flaticon-nature:before {
    content: "\f108";
}

.flaticon-medal:before {
    content: "\f109";
}

.flaticon-plant:before {
    content: "\f10a";
}

.flaticon-right-quotes-symbol:before {
    content: "\f10b";
}

.flaticon-right-arrow:before {
    content: "\f10c";
}

.flaticon-left-arrow:before {
    content: "\f10d";
}