{% extends 'base.html' %}
{% load i18n %}
{% block page %}
    <div class="container">
        <h1>{% trans 'ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ' %}</h1>
        <p>{% trans 'Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую на сайте, мобильном приложении orgo.com, может получить о Пользователе во время использования сайта orgo.com.' %}</p>
        <h5>{% trans '1. Определение терминов:' %}</h5>
        <p>{% trans '1.1.1. «Администрация сайта orgo.com (далее – Администрация сайта)» – уполномоченные сотрудники на управления сайтом,  действующие от имени ОсОО «Орго Фуд», которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.' %}</p>
        <p>{% trans '1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.' %}</p>
        <p>{% trans '1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.' %}</p>
        <p>{% trans '1.1.5. «Пользователь сайта orgo.com (далее - Пользователь)» – лицо, имеющее доступ к Сайту, мобильному приложению, посредством сети Интернет и использующее orgo.com.' %}</p>
        <p>{% trans '1.1.6. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.' %}</p>
        <h5>{% trans '2. Общие положения' %}</h5>
        <p>{% trans '2.1. Использование Пользователем сайта orgo.com означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.' %}</p>
        <p>{% trans '2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта orgo.com.' %}</p>
        <p>{% trans '2.3. Настоящая Политика конфиденциальности применяется только к сайту orgo.com. orgo.com не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте, мобильном приложении orgo.com.' %}</p>
        <p>{% trans '2.4. Администрация сайта orgo.com не проверяет достоверность персональных данных, предоставляемых Пользователем сайта orgo.com.' %}</p>
        <h5>{% trans '3. Предмет политики конфиденциальности' %}</h5>
        <p>{% trans '3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта  orgo.com по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта,  при регистрации на сайте, мобильном приложении orgo.com или при оформлении заказа.' %}</p>
        <p>{% trans '3.2 Любая иная персональная информация неоговоренная выше подлежит надежному хранению и нераспространению.' %}</p>
    </div>

{% endblock %}