{% extends 'base.html' %}
{% load i18n %}
{% block page %}
    <div class="container">
        <h1>{% trans 'Правила покупок' %}</h1>
        <span><b>{% trans 'Уважаемые покупатели!' %}</b></span>
        <p>{% trans '1. «Если Вы купили некачественный товар в нашем магазине, Вы можете вернуть товар, либо обменять его на качественный. Для этого Вам необходимо предъявить товар и чек администратору магазина. Если вы обнаружили брак на товаре и чек был потерян, но при этом Вы совершали покупку, пользуясь накопительной картой, Вы можете связаться с Call-центром нашей сети по номеру +996-312-900251 и оставить заявку. В течение одного рабочего дня с Вами свяжутся сотрудники отдела по работе с клиентами и помогут решить вопрос о возврате денег или обмене товара.' %}</p>
        <p>{% trans '2. Покупателям старше 60-и лет, беременным женщинам и покупателям с маленькими детьми на руках наши кассиры с радостью помогут упаковать приобретенные товары.' %}</p>
        <p>{% trans '3. При несовпадении цен на ценниках и на кассе мы обязуемся продать товар по цене, указанной на ценнике.' %}</p>
        <p>{% trans '4. В наших магазинах не продаются алкогольные и табачные изделия лицам, не достигшим 18 лет.' %}</p>
        <p>{% trans '5. Если у Вас возникла жалоба на качество обслуживания или Вы стали свидетелем любых других нарушений, пожалуйста, сообщите об этом по телефону горячей линии: +996-312-900251, назвав магазин, дату и время, когда Вы столкнулись с этим. Также оставить жалобу можно на стендах «Жалоб и предложений», которые присутствуют в каждом магазине.' %}
        </p>
    </div>
{% endblock %} 